@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


* {
    font-family: 'Noto Sans', Arial, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

header {
    position: relative;
    height: 60px;
    background: #373737;
    padding: 30px;
}

header>nav {
    position: relative;
    padding-left: 24px;
    max-width: 1128px;
    margin: 0 auto;
}

header>nav>a {
    display: inline;
    margin-right: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

header>nav>a {
    color: white;
}

header>nav>a:hover {
    color: #E5EAF2;
}

header span {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    right: 40px;
    float: right;
    color: #D0D0D0;
    font-size: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #373737;
    margin-top: 15px;
}

hr {
    margin-top: 20px;
}

iframe {
    margin-top: 30px;
    margin-left: 100px;
}
#js_main_page {
	background-image: url(https://s3-us-west-2.amazonaws.com/svgporn.com/logos/javascript.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 0;
	padding: 20px;
}
div#js_main_page>div {
	display: inline-block;
	padding: 0 20px;
	margin-top: 0;
}
#js_main_page a {
	color: #2B5E50;
	text-decoration: none;
}
#js_main_page p {
	margin-top: 0;
}
.vajno {
    padding: 20px;
    margin: 20px 100px 20px 0;
    background: #F0F1F2;
    border-radius: 0 5px 5px 0;
}
.vajno p.p_vajno {
    margin-top: 0;
}
.center {
    text-align: center;
}

.greentext {
    color: #61A669;
}

.red {
    color: #F74936;
}

.blue {
    color: #0774BA;
}

.main_cont {
    position: relative;
    padding: 20px;
    min-width: 768px;
    max-width: 1128px;
    margin: 60px auto;
    background: #E5EAF2;
    border-radius: 10px 10px 0 0;
    overflow: auto;
}

.sidebar {
    width: 200px;
    float: left;
}

.sidebar ul li:first-child {
    margin-bottom: 25px;
}

.sidebar ul li:last-child {
    margin-top: 25px;
}

.sidebar li {
    list-style-type: none;
    background: #ED8340;
}

.sidebar li a {
    display: block;
    height: 40px;
    margin-bottom: 1px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #373737;
    transition: all .3s ease-in-out;
    font-size: 20px;
}

.sidebar li a:hover {
    background: #028EA3;
    color: white;
}
.sidebar li a:active {
	background: #ED8340;
	color: white;
	transition: all .1s ease-in-out;
}
.content {
    position: relative;
    margin-left: 220px;
    min-height: 850px;
    background: white;
    border-radius: 0 10px 10px 0;
    padding: 1em;
    line-height: 30px;
    overflow: auto;
}

.content h1,
h2,
h3,
h4 {
    text-align: center;
}

.content div {
    margin-top: 20px;
}

.content img {
    width: 80%;
    margin-top: 20px;
}

.content p.img {
    text-align: center;
    
}

.content p.img.ship {
    margin: 150px auto;
}

.content p {
    margin-top: 15px;
}

.content li {
    margin-left: 20px;
}
.content a {
	color: #028EA3;
}
.knopka {
    width: 300px;
    height: 200px;
    line-height: 200px;
    font-size: 50px;
    color: white;
    margin: 0 auto;
    background: #373737;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 1px rgba(55, 55, 55, 0.4);
}

.dla_knopki a {
    text-decoration: none;
}

.knopka:hover {
    width: 302px;
    height: 202px;
    box-shadow: 0 0 3px rgba(55, 55, 55, 0.6);
    font-size: 52px;
    background: #028EA3;
}
.button1 {
	width: 170px;
	height: 50px;
	margin-top: 30px;
	border: solid 3px #4CB598;
	border-radius: 3px;
	background: #373737;
	color: white;
	font-size: 20px;
	transition-duration: 0.4s;
}
.button1:hover {
	background: #4CB598;
	border: solid 3px #4CB598;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 25px 0 rgba(0,0,0,0.19);
}
.button1:active {
	background: #028EA3;
	border: solid 3px #028EA3;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24), 0 12px 25px 0 rgba(0,0,0,0.19);
	transition-duration: 0.2s;
}

/* Стили для игры про бомбу. */

#bombContainer {
    background-image: url("../img/time_bomb.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 500px;
    height: 400px;
}


#bombContainer #clock, #redwire, #bluewire, #yellowwire {
    position: absolute;
}

#clock {
    border-radius: 3px;
    background: rgba(53, 200, 60, 0.3);
    top: 141px;
    left: 450px;
    width: 136px;
    height: 42px;
}
.zasechka {
    visibility: visible;
}
.nozasechka {
    visibility: hidden;
}
#redwire {
    
    top: 234px;
    left: 380px;
    width: 225px;
    height: 30px;
}
#bluewire {
    
    top: 271px;
    left: 380px;
    width: 225px;
    height: 32px;
}
#yellowwire {
    
    top: 320px;
    left: 380px;
    width: 225px;
    height: 35px;
}
#clock table {
    margin-left: 25px;
}
#clock td {
    height: 34px;
    font-size: 33px;
    color: #423E3B;
}
.batman {
    height: 563px;
    background-image: url("../img/batman3.png");
    background-repeat: no-repeat;
    background-position: center center;
}